# dataset
dataset/videos
cache_frames
# ckpts
ckpts/

# log
run_logs
swanlog

# jungang-dev
git-jungang.sh
.cache/
output/
wandb/
fintune/scripts/debug
*.pyc
result/vlm_inference2

finetune/ckpts
finetune/dataset/videos
finetune/run_logs

inference_result2/
inference_result3/
inference_result4/
inference_result5/
inference_result31/
inference_result1104/
.DS_Store
