# dataset
dataset/videos
cache_frames
# ckpts
ckpts/

# log
run_logs
swanlog

# jungang-dev
git-jungang.sh

output/
wandb/
fintune/scripts/debug

finetune/ckpts
finetune/dataset/videos
finetune/run_logs

inference_result2/
inference_result3/
inference_result4/
inference_result31/
.DS_Store
